click
awscli
seaborn
xgboost
numpy>=1.18.0
python-dotenv>=0.5.1
pandas<=1.2.2 # higher versions cause problems with benchmarking
matplotlib>=3.2.1
scipy<1.6.0>=1.1.0
phik>=0.11.1
cython>=0.29.22
sdgym==0.2.2
pgmpy